html {
  scroll-behavior: smooth;
}
.buton{
  width: 180px;
  height: 50px;
  border-radius:  10px;
  background-color: transparent;
  color: #000000;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #ffd000;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
/* button animation start */
.buton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #dacd19;
  transition: all 0.5s;
  z-index: -1;
}

.buton:hover:before{
  width: 100%;
}
.animatie-albina{
  position:absolute;
  width:15rem;
  right:9rem;
  top:6rem;
  animation: animated-floating 1s linear infinite;
  animation-direction: alternate;
}
@keyframes animated-floating {
  0%{
    transform: translateY(0);
    opacity:1;
  }
  100%{
    transform: translateY(2vh);
    opacity:1;
  }
}
@media (max-width: 768px) {
  .buton {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
  }
}
.hover\:underline-animation {
  position: relative;
  overflow: hidden;
}

.hover\:underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffae00; /* Culoare underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover\:underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
 /* Stilizare scrollbar */
 .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #38bdf8; /* albastru deschis */
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9; /* albastru mai închis când treci cu mouse-ul */
}